body {
  margin: 0;
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif, "SFProLocalRange";
}
html > body[data-scroll-locked] {
  margin-right: 0!important;
}

.application {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
  padding: 16px 24px;
  box-sizing: border-box;
}

.description {
  padding: 8 16px;
  margin: 0;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: #F6F6F6;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.description > a {
  color: #18A0FB;
}

ol,
ul {
  padding-inline-start: 16px;
}

.button {
  margin: 0;
  padding: 0;
  border: none;
  appearance: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 32px;
  flex: 1 1 auto;
  border-radius: 4px;
  cursor: pointer;
  background: #f0f0f0;

  &:hover {
    background: #dadada
  }

  &:active {
    background: #f0f0f0;
  }
}

.button--primary {
  background: #18A0FB;
  color: #fff;

  &:hover {
    background: #0077cc;
  }

  &:active {
    background: #18A0FB;
  }
}