.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  width: 100%;
}

.radio-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.error {
  font-size: var(--font-size-xsmall);
  padding: var(--size-xxsmall) var(--size-xxxsmall) var(--size-xxsmall) var(--size-xxsmall);
  color: var(--red);
}

.successful {
  font-size: var(--font-size-xsmall);
  padding: var(--size-xxsmall) var(--size-xxxsmall) var(--size-xxsmall) var(--size-xxsmall);
  color: green;
}

.loading {
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-top-color: transparent;
  border-radius: 100%;

  animation: circle infinite 0.75s linear;
}

.changelog {
  border: 1px solid var(--black1);
  padding: 12px;
  overflow: auto;
}

.list-item {
  font-size: var(--font-size-xsmall);
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-indent: 22px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.label {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.token {
  padding: 0 32px 0 0;
  box-sizing: border-box;
}

.input .password-icon.icon {
  cursor: pointer;
  left: unset;
  right: 0;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
